<script>
  function rowclick(row) {
    window.location.href = "/company/" + row.dataset.id;
  }
</script>

<div class="container" id="company-list">
  <div class="container py-10">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <input type="text" class="form-control" placeholder="Click here to input..." />
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div class="table-responsive pt-4">
    <table class="table table-hover table-borderless table-striped text-nowrap" id="list">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sembol</th>
        <th scope="col">Ünvan</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">

      {{ range .CompanyList }}
        <tr data-id="{{.ID}}" style="cursor: pointer" onclick="rowclick(this)">
          <td>
            {{if .Icon}}
              <img src="{{.Icon}}" alt="{{.Name}}" class="avatar" />
            {{- else}}
              <span class="avatar text-bg-primary">{{.AvatarText}}</span>
            {{- end}}
          </td>
          <td>{{.Code}}</td>
          <td>{{.Name}}</td>
        </tr>
      {{end}}

      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{ range .PageNavData.Items }}
          <li class="page-item {{.Disabled}} {{.Active}}">
            <a href="{{.URL}}" hx-get="{{.URL}}" hx-target="#company-list" class="page-link">{{.Label}}</a>
          </li>
        {{end}}
      </ul>
    </nav>
  </div>
</div>
