<div id="company-list">
  <table class="striped" id="list">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sembol</th>
      <th scope="col">Ünvan</th>
    </tr>
    </thead>
    <tbody>

    {{ range .CompanyList }}
      <tr data-id="{{.ID}}" style="cursor: pointer">
        <th scope="row">
          <img src="{{.Icon}}" class="avatar">
        </th>
        <td>{{.Code}}</td>
        <td>{{.Name}}</td>
      </tr>
    {{end}}

    </tbody>

  </table>

  <div role="group">
    {{ range .PageNavData.Items }}
    <button hx-get="{{.URL}}" hx-target="#company-list" {{.Disabled}} class="{{.Class}}">{{.Label}}</button>
    {{end}}
  </div>

</div>

<script>
  const tableRows = document.querySelectorAll("#list > tbody > tr");
  console.log(tableRows);
  for (const tableRow of tableRows) {
    tableRow.addEventListener("click", function () {
      window.location.href = "/company/" + this.dataset.id;
    });
  }
</script>