<div class="card w-100">
    <div class="card-body">

        <div class="row">
            <div class="col-1">

                {{if .Icon}}
                    <img class="avatar rounded-2 avatar-xl" src="{{.Company.Icon}}"  alt="{{.Company.Name}}"/>
                {{- else}}
                    <span class="avatar rounded-2 avatar-xl text-bg-primary">{{.Company.AvatarText}}</span>
                {{- end}}

            </div>

            <div class="col-10">
                <h5 class="card-title">{{.Company.Code}}</h5>
                <p class="card-text">{{.Company.Name}}</p>
            </div>

            <div class="col-1">
                <p class="card-text text-warning fs-5">{{.Company.Price}}₺</p>
            </div>
        </div>

        <div class="my-6">
            <hr>
        </div>

        <div class="row">
            <div class="col">
                <ol class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start gap-2">
                        <span>Adres:</span>
                        <span>{{.Company.Address}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span>Website:</span>
                        <a href="http://{{.Company.Website}}" target="_blank">{{.Company.Website}}</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span>E-posta:</span>
                        <a href="mailto://{{.Company.Email}}">{{.Company.Email}}</a>
                    </li>
                </ol>
            </div>

            <div class="col">
                <ol class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start gap-2">
                        <span>Pazar:</span>
                        <span>{{.Company.Market}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start gap-2">
                        <span>Sektör:</span>
                        <span>{{.Company.Sector}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start gap-2">
                        <span>Endeks:</span>
                        <span>{{.Company.Index}}</span>
                    </li>
                </ol>
            </div>

        </div>
    </div>
</div>